$primary : purple;
$warning : brown;
$modal-backdrop-bg : lightgreen;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/varialble";

$mat-theme-colors: (

    "cool" : pink,
    "allen" : cyan);


   $theme-colors : map-merge($mat-theme-colors , $theme-colors);

@import "../node_modules/bootstrap/scss/bootstrap.scss";